<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/oquv-bolimi/dashboard">
        <div class="sidebar-brand-text mx-3">O'quv bo'limi</div>
    </a>
    <hr class="sidebar-divider my-0">

    <li class="nav-item"><a class="nav-link" href="/oquv-bolimi/dashboard"><i class="fas fa-fw fa-tachometer-alt"></i><span>Dashboard</span></a></li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">O'quv jarayoni</div>

    <li class="nav-item"><a class="nav-link" href="/oquv-bolimi/yonalish"><i class="fas fa-fw fa-project-diagram"></i><span>Ta'lim yo'nalishlari</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/oquv-bolimi/fanlar"><i class="fas fa-fw fa-book"></i><span>Fanlar</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/oquv-bolimi/adabiyotlar"><i class="fas fa-fw fa-book-open"></i><span>Adabiyotlar bazasi</span></a></li>

    <li class="nav-item"><a class="nav-link" href="/oquv-bolimi/sillabuslar"><i class="fas fa-fw fa-file-alt"></i><span>Sillabuslar</span></a></li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">Tashkilot</div>
    <li class="nav-item"><a class="nav-link" href="/oquv-bolimi/tashkilot"><i class="fas fa-fw fa-building"></i><span>Tashkilot</span></a></li>

    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
