<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/superadmin/dashboard">
        <div class="sidebar-brand-text mx-3">Sillabus <span class="small">Admin</span></div>
    </a>
    <hr class="sidebar-divider my-0">

    <li class="nav-item"><a class="nav-link" href="/superadmin/dashboard"><i class="fas fa-fw fa-tachometer-alt"></i><span>Dashboard</span></a></li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">Boshqaruv</div>

    <li class="nav-item"><a class="nav-link" href="/superadmin/users"><i class="fas fa-fw fa-users"></i><span>Foydalanuvchilar</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/superadmin/kafedralar"><i class="fas fa-fw fa-university"></i><span>Kafedralar</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/superadmin/akademik-yillar"><i class="fas fa-fw fa-calendar-alt"></i><span>Akademik yillar</span></a></li>

    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
