<h1>Admin Dashboard</h1>
<p>Salom, <b>{{user.username}}</b>!</p>
<ul>
  <li><a href="/managers">Managerlar</a></li>
  <li><a href="/managers/new">Yangi manager yaratish</a></li>
  <li><a href="/templates">CV shablonlari</a></li>
  <li><a href="/cvs">Barcha CVlar (nazorat)</a></li>
</ul>
