<div class="container text-center mt-5">
  <h2 class="text-danger">🚫 Ruxsat yo‘q!</h2>
  <p>{{message}}</p>
  <a href="/{{role}}/dashboard" class="btn btn-primary mt-3">Asosiy sahifaga qaytish</a>
</div>
