{{> oquv_bolimi_sidebar}}
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    {{> navbar}}
    <div class="container-fluid">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">O'quv bo'limi Dashboard</h1>
        {{#if faolYil}}<span class="badge badge-success p-2">Faol yil: {{faolYil.nomi}}</span>{{/if}}
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Jami fanlar</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{fanlarCount}}</div>
                </div>
                <div class="col-auto"><i class="fas fa-book fa-2x text-gray-300"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Ta'lim yo'nalishlari</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{yonalishCount}}</div>
                </div>
                <div class="col-auto"><i class="fas fa-project-diagram fa-2x text-gray-300"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
          <a href="/oquv-bolimi/sillabuslar" class="text-decoration-none">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Sillabuslar</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{sillabuslarCount}}</div>
                  </div>
                  <div class="col-auto"><i class="fas fa-file-alt fa-2x text-gray-300"></i></div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card shadow">
            <div class="card-header"><h6 class="m-0 font-weight-bold text-primary">Tezkor havolalar</h6></div>
            <div class="card-body">
              <a href="/manager/fanlar" class="btn btn-primary mr-2 mb-2"><i class="fas fa-book mr-1"></i>Fanlar</a>
              <a href="/manager/yonalish" class="btn btn-success mr-2 mb-2"><i class="fas fa-project-diagram mr-1"></i>Ta'lim yo'nalishlari</a>
              <a href="/manager/adabiyotlar" class="btn btn-info mr-2 mb-2"><i class="fas fa-book-open mr-1"></i>Adabiyotlar</a>
              <a href="/manager/tashkilot" class="btn btn-secondary mr-2 mb-2"><i class="fas fa-building mr-1"></i>Tashkilot</a>
              <a href="/oquv-bolimi/sillabuslar" class="btn btn-warning mr-2 mb-2"><i class="fas fa-file-alt mr-1"></i>Sillabuslar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="sticky-footer bg-white">
    <div class="container my-auto"><div class="copyright text-center my-auto"><span>Barcha huquqlar himoyalangan &copy; 2026</span></div></div>
  </footer>
</div>
